# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Temporary files, typically from vim
*.*~
*.swp

# Should exclude .toml files from final commits
*.toml

# Should exclude generated .xlsx files
*.xlsx
